<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>

    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="1500000"/>

    <add key="IDCorresponsal" value=""/>
    <add key="MinPayAmount" value="2000"/>
    <add key="MinWithdrawalAmount" value="10000"/>
    <add key="MaxWithdrawalAmount" value="600000"/>
    <add key="NAME_PAYPAD" value=""/>
    <add key="LAST_NAME_PAYPAD" value=""/>
    <add key="NAME_APLICATION" value="WPFMultired"/>
    <add key="NIT" value="111.111.111-1"/>
    <add key="ImageBoucher" value="../../Images/Others/img-boucher.jpg"/>
    <add key="logotipo" value="../../Images/Others/logotipo.png"/>
    <add key="PathPublish" value="../../Images/Publish"/>
    <add key="PathPublish2" value="../../Images/Publish2"/>
    <add key="PathTypeDocument" value="../../Mokups/Mockup_Type_Documents.json"/>
    <add key="ValuesDispenser" value="DP:10000-DP:5000-DP:2000"/>
    <add key="CuantityItemsList" value="5"/>
    <add key="ClientPlataform" value="DISPENSADOR"/>
    <add key="IntentsDownload" value="3"/>
    <add key="CodeDepartmentBuyer" value="05"/>
    <add key="CodeTownBuyer" value="196"/>
    <add key="CodeCountryBuyer" value="001"/>
    <add key="BarcodePort" value="COM4"/>
    <add key="BarcodeBaudRate" value="57600"/>
    <add key="IdClient" value="101"/>
    <add key="PrintBandrate" value="9600"/>
    <add key="IdiomDefaultId" value="2"/>
    <add key="CodeEntityDefault" value="0"/>
    <add key="UrlGetIp" value="0"/>
    <add key="ResourcesUrl" value="/Images/Resources/"/>
    <add key="APLICATION_UPDATE" value="/Images/Resources/"/>
    <add key="IpDefoult" value="1.1.1.1"/>
    <add key="CuerrenId" value="0"/>
    <add key="CodMon" value="1"/>
    <add key="ImageNotFound" value="NoFound.png"/>
    <add key="TimerInactividad" value="00:50"/>
    <add key="DurationView" value="1200000"/>
    <add key="TimerPublicity" value="7"/>
    <add key="TimeToRestart" value="10"/>
    <add key="totpIntents" value="2"/>
    <add key="IntervalCamera" value="5000" />
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN CAM__________________________________________________________________________________________________________________________________-->
    <add key="RecorderRoute" value="C:\Grabador"/>
    <add key="VideoRoute" value="C:\VideosPayPad"/>
    <add key="Email" value="ecitysoftware@gmail.com"/>
    <!--END CAM__________________________________________________________________________________________________________________________________-->

    <!--BEGIN VALIDATION________________________________________________________________________________________________________________________-->
    <add key="CodDepositos" value="00011"/>
    <add key="CodEstadoCuenta" value="00013"/>
    <add key="CodTarjetaCredito" value="00014"/>
    <add key="CodRetiros" value="00012"/>
    <!--END VALIDATION________________________________________________________________________________________________________________________-->

    <!--BEGIN GENERIC DATA WS________________________________________________________________________________________________________________________-->
    <add key="CodCanal" value="6"/>
    <add key="SourceEntity" value="188"/>
    <!--END GENERIC DATA WS________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="Port" value="COM6"/>
    <add key="PortScanner" value="COM7"/>
    <add key="PortPrinter" value="USB001"/>
    <add key="BarcodePort" value="COM7"/>
    <add key="BarcodeBaudRate" value="57600"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <add key="basseAddress" value="https://e-citypay.co"/>
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog"/>
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount"/>
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail"/>
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad"/>
    <add key="GetBalance" value="PayPadAdministrator/GetBalance"/>
    <add key="GetUpload" value="PayPadAdministrator/GetUpload"/>
    <add key="SaveUpdateAdminOperation" value="PayPadAdministrator/SaveUpdateAdminOperation"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
    <add key="SaveErrorConsole" value="Console/SaveErrorConsole"/>
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN MESSAGES-->
    <add key="MsgGeneric" value="Por favor, digita el valor a consignar (mínimo {0} - máximo {1}). El dispositivo recibe montos de dinero redondeados al múltiplo de $100."/>
    <add key="MsgRetiros" value="Por favor, digita el valor a retirar (ten presente: mínimo {0} - máximo {1}). El cajero te permite retirar montos redondeados al múltiplo de $1.000"/>
    <add key="MsgAccountState" value="Por favor, digita el valor a consignar (mínimo {0} - máximo {1}). El dispositivo recibe montos de dinero redondeados al múltiplo de $100. El dispositivo te permite pagar hasta 3 cuotas en estado normal, si deseas abonos de capital acércate a la caja de la agencia más cercana."/>
    <add key="MsgTarjeta" value="Por favor digita el valor a pagar (ten presente: mínimo $ {0} – máximo {1}). El cajero recibe montos de dinero redondeados al múltiplo de $100."/>
    <add key="MsgRetiro" value="Por favor digita el valor a retirar (ten presente: mínimo $ {0} – máximo {1}). El cajero te permite retirar montos redondeados al múltiplo de $1000."/>
    <add key="MsgHuella" value="Por favor ubica tu dedo {0} registrado en el lector de huella, en la parte derecha del dispositivo."/>
    <add key="MsgFailFinger" value="No fue posible leer tu huella. Por favor realiza tu retiro en caja o en cualquiera de los cajeros automáticos."/>
    <add key="MsgTOTP" value="Recuerda que tienes {0} intentos más para generar un nuevo código de verificación."/>
    <add key="MsgTOTPLimit" value="Superaste el máximo de OTPs generados, intenta nuevamente por favor."/>
    <add key="MsgAlertaValorRetiro" value="El saldo máximo permitido en esta transacción es de {0}, por favor verifica el valor e intenta de nuevo."/>
    <add key="MsgMaximoDinero" value="El dinero disponible en el cajero multifuncional no es suficiente, en este momento solo podemos entregarte {0}"/>
    <add key="MsgFoto" value="Te haremos una foto para el registro de la transacción"/>
    <!--END MESSAGES-->

    <!--BEGIN ConexionDB______________________________________________________________________________________________________________________________________________-->
    <add key="ConnectionString" value="Data Source=C:\Users\H81\Documents\GitHub\WPFMultired\WPFMultired\bin\Debug\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>
    <!--END ConexionDB______________________________________________________________________________________________________________________________________________-->

  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsultarInstitucionesServicesPortBinding" />
        <binding name="ConsultarLenguajeServicesPortBinding" />
        <binding name="ConsultarProductosClienteServicesPortBinding" />
        <binding name="ProcesarTransaccionServicesPortBinding" />
        <binding name="QRDecodeServicesPortBinding" />
        <binding name="ValidateStatusAdminServicesPortBinding" />
        <binding name="RetrieveOperationAdminServicesPortBinding" />
        <binding name="ProcessAdminServicesPortBinding" />
        <binding name="QRValidateAdminServicesPortBinding" />
        <binding name="ASMControllerServicesPortBinding" />
        <binding name="RecaudoFacturasServicesPortBinding" />
        <binding name="TiposTransaccionesServicesPortBinding" />
        <binding name="ConsultasRedServicesPortBinding" />
        <binding name="TiposDocumentosServicesPortBinding" />
        <binding name="ValidarHuellaServicesPortBinding" />
        <binding name="TOTPMultiRedServicesPortBinding" />
        <binding name="ValidateTOTPMultiRedServicesPortBinding" />
        <binding name="RetirosRedServicesPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://181.57.139.181:10035/web/services/consultarInstitucionesService/consultarInstituciones"
        binding="basicHttpBinding" bindingConfiguration="ConsultarInstitucionesServicesPortBinding"
        contract="MR_Institutions.ConsultarInstitucionesServices" name="ConsultarInstitucionesServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ConsultarLenguajeService/ConsultarLenguaje"
        binding="basicHttpBinding" bindingConfiguration="ConsultarLenguajeServicesPortBinding"
        contract="MR_Language.ConsultarLenguajeServices" name="ConsultarLenguajeServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/procesarTransaccionService/procesarTransaccion"
        binding="basicHttpBinding" bindingConfiguration="ProcesarTransaccionServicesPortBinding"
        contract="MR_ReportTransaction.ProcesarTransaccionServices"
        name="ProcesarTransaccionServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/QRDecodeService/QRDecode"
        binding="basicHttpBinding" bindingConfiguration="QRDecodeServicesPortBinding"
        contract="MR_CodeQR.QRDecodeServices" name="QRDecodeServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/RetrieveOperationAdminService/RetrieveOperationAdmin"
        binding="basicHttpBinding" bindingConfiguration="RetrieveOperationAdminServicesPortBinding"
        contract="MR_OperationAdmin.RetrieveOperationAdminServices"
        name="RetrieveOperationAdminServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ProcessAdminService/ProcessAdmin"
        binding="basicHttpBinding" bindingConfiguration="ProcessAdminServicesPortBinding"
        contract="MR_ProcessAdmin.ProcessAdminServices" name="ProcessAdminServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/QRValidateAdminService/QRValidateAdmin"
        binding="basicHttpBinding" bindingConfiguration="QRValidateAdminServicesPortBinding"
        contract="MR_ValidateAdminQR.QRValidateAdminServices" name="QRValidateAdminServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/RecaudoFacturasService/RecaudoFacturas"
        binding="basicHttpBinding" bindingConfiguration="RecaudoFacturasServicesPortBinding"
        contract="MR_NotificInvoice.RecaudoFacturasServices" name="RecaudoFacturasServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/TiposTransaccionesService/TiposTransacciones"
        binding="basicHttpBinding" bindingConfiguration="TiposTransaccionesServicesPortBinding"
        contract="MR_TypeTransaction.TiposTransaccionesServices" name="TiposTransaccionesServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/TiposDocumentosService/TiposDocumentos"
        binding="basicHttpBinding" bindingConfiguration="TiposDocumentosServicesPortBinding"
        contract="MR_TypeDocument.TiposDocumentosServices" name="TiposDocumentosServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ValidateStatusAdminService/ValidateStatusAdmin"
        binding="basicHttpBinding" bindingConfiguration="ValidateStatusAdminServicesPortBinding"
        contract="MR_ValidateStatusAdmin.ValidateStatusAdminServices"
        name="ValidateStatusAdminServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ASMControllerService/ASMController"
        binding="basicHttpBinding" bindingConfiguration="ASMControllerServicesPortBinding"
        contract="MR_ControllCash.ASMControllerServices" name="ASMControllerServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ValidarHuellaService/ValidarHuella"
        binding="basicHttpBinding" bindingConfiguration="ValidarHuellaServicesPortBinding"
        contract="MR_FingerprintValidator.ValidarHuellaServices" name="ValidarHuellaServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ConsultasRedService/ConsultasRed"
        binding="basicHttpBinding" bindingConfiguration="ConsultasRedServicesPortBinding"
        contract="MR_ConsultInvoice.ConsultasRedServices" name="ConsultasRedServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/consultarProductosClienteService/consultarProductosCliente"
        binding="basicHttpBinding" bindingConfiguration="ConsultarProductosClienteServicesPortBinding"
        contract="MR_ListProducts.ConsultarProductosClienteServices"
        name="ConsultarProductosClienteServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ValidateTOTPMultiRedService/ValidateTOTPMultiRed"
        binding="basicHttpBinding" bindingConfiguration="ValidateTOTPMultiRedServicesPortBinding"
        contract="MR_ValidateTOTP.ValidateTOTPMultiRedServices" name="ValidateTOTPMultiRedServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/TOTPMultiRedService/TOTPMultiRed"
        binding="basicHttpBinding" bindingConfiguration="TOTPMultiRedServicesPortBinding"
        contract="MR_CodeTOTP.TOTPMultiRedServices" name="TOTPMultiRedServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/RetirosRedService/RetirosRed"
        binding="basicHttpBinding" bindingConfiguration="RetirosRedServicesPortBinding"
        contract="MR_RetirosRed.RetirosRedServices" name="RetirosRedServicesPort" />
    </client>
  </system.serviceModel>
</configuration>
