<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>

    <!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
    <add key="DurationAlert" value="100000"/>
    <add key="IDCorresponsal" value=""/>
    <add key="MinPayAmount" value="2000"/>
    <add key="MinWithdrawalAmount" value="10000"/>
    <add key="MaxWithdrawalAmount" value="600000"/>
    <add key="NAME_PAYPAD" value=""/>
    <add key="LAST_NAME_PAYPAD" value=""/>
    <add key="NAME_APLICATION" value="WPFMultired"/>
    <add key="NIT" value="111.111.111-1"/>
    <add key="ImageBoucher" value="../../Images/Others/img-boucher.png"/>
    <add key="PathPublish" value="../../Images/Publish"/>
    <add key="PathTypeDocument" value="../../Mokups/Mockup_Type_Documents.json"/>
    <add key="ValuesDispenser" value="DP:10000-DP:2000"/>
    <add key="CuantityItemsList" value="5"/>
    <add key="ClientPlataform" value="DISPENSADOR"/>
    <add key="IntentsDownload" value="3"/>
    <add key="CodeDepartmentBuyer" value="05"/>
    <add key="CodeTownBuyer" value="196"/>
    <add key="CodeCountryBuyer" value="001"/>
    <add key="BarcodePort" value="COM4"/>
    <add key="BarcodeBaudRate" value="57600"/>
    <add key="IdClient" value="101"/>
    <add key="PrintBandrate" value="9600"/>
    <!--END OTHERS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN VALIDATION________________________________________________________________________________________________________________________-->
    <add key="CodDepositos" value="00001" />
    <add key="CodRetiros" value="00003" />
    <!--END VALIDATION________________________________________________________________________________________________________________________-->

    <!--BEGIN KEYS________________________________________________________________________________________________________________________-->
    <add key="KEY" value="CARLOS SERRATO SERNA :)" />
    <add key="KEYOUT" value="`___|[_]||+ ;|`---'" />
    <!--END KEYS________________________________________________________________________________________________________________________-->

    <!--BEGIN GENERIC DATA WS________________________________________________________________________________________________________________________-->
    <add key="I_CODCAN" value="1" />
    <add key="I_CODTER" value="SERRATO" />
    <add key="I_DIREIP" value="192.168.1.55" />
    <add key="I_ENTORI" value="2" />
    <!--END GENERIC DATA WS________________________________________________________________________________________________________________________-->

    <!--BEGIN QR________________________________________________________________________________________________________________________-->
    <add key="I_CODCAN_QR" value="1" />
    <add key="I_DIREIP_QR" value="192.168.1.1" />
    <add key="I_ENTORI_QR" value="2" />
    <add key="I_INS_QR" value="1" />
    <add key="I_CODTER_QR" value="SERRATO" />
    <!--END QR__________________________________________________________________________________________________________________________-->

    <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
    <add key="PortBills" value="COM22"/>
    <add key="PortCoins" value="COM21"/>
    <add key="PortScanner" value="COM4"/>
    <add key="PortPrinter" value="USB005"/>
    <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

    <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
    <!--<add key="basseAddress" value="http://200.122.221.193:7997/ApiAdministrator/api/"/>-->
    <add key="basseAddress" value="z2Db30qcEEJp54XF1nbEPWwGQnToqNZj5lHyIZ4gziL30IwoiCkDuBv/VH+AJC73" />
    <!--END SERVICES__________________________________________________________________________________________________________________________________-->

    <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->
    <add key="ValidateDispenser" value="/api/Administrator/ValidateMoneyDispenser"/>
    <add key="GetToken" value="Authentication/Authenticate"/>
    <add key="InitPaypad" value="PayPadAdministrator/InitPaypad"/>
    <add key="SaveLog" value="PayPadAdministrator/SaveLog"/>
    <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog"/>
    <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice"/>
    <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction"/>
    <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction"/>
    <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount"/>
    <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail"/>
    <add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad"/>
    <add key="GetBalance" value="PayPadAdministrator/GetBalance"/>
    <add key="GetUpload" value="PayPadAdministrator/GetUpload"/>
    <add key="UpdateBalance" value="PayPadAdministrator/UpdateBalance"/>
    <add key="UpdateUpload" value="PayPadAdministrator/UpdateUpload"/>
    <add key="SavePayer" value="PayPadAdministrator/SavePayer"/>
    <add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction"/>
    <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

    <!--BEGIN ConexionDB______________________________________________________________________________________________________________________________________________-->
    <add key="ConnectionString" value="Data Source=C:/Users/H-81/Documents/GitHub/WPFMultired/WPFMultired/DataContext/DB_Local.db;Pooling=true;FailIfMissing=false;Version=3"/>
    <!--END ConexionDB______________________________________________________________________________________________________________________________________________-->

  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--BEGIN APIINTEGRATIONControllers______________________________________________________________________________________________________________________________________________-->
        <binding name="ConsultarInstitucionesServicesPortBinding" />
        <binding name="ConsultarTiposDeDocumentoServicesPortBinding" />
        <binding name="ConsultarTiposDeTransaccionServicesPortBinding" />
        <binding name="GenerarOTPServicesPortBinding" />
        <binding name="ConsultarLenguajeServicesPortBinding" />
        <binding name="ConsultarProductosClienteServicesPortBinding" />
        <binding name="ProcesarTransaccionServicesPortBinding" />
        <binding name="QRDecodeServicesPortBinding" />
        <binding name="ValidarOTPServicesPortBinding" />
        <!--END APIINTEGRATIONControllers____________________________________________________________________________________________________________________________________________-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://181.57.139.181:10035/web/services/consultarInstitucionesService/consultarInstituciones"
        binding="basicHttpBinding" bindingConfiguration="ConsultarInstitucionesServicesPortBinding"
        contract="MR_Institutions.ConsultarInstitucionesServices" name="ConsultarInstitucionesServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/consultarTiposDeDocumentoService/consultarTiposDeDocumento"
        binding="basicHttpBinding" bindingConfiguration="ConsultarTiposDeDocumentoServicesPortBinding"
        contract="MR_TypeDocument.ConsultarTiposDeDocumentoServices"
        name="ConsultarTiposDeDocumentoServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/consultarTiposDeTransaccionService/consultarTiposDeTransaccion"
        binding="basicHttpBinding" bindingConfiguration="ConsultarTiposDeTransaccionServicesPortBinding"
        contract="MR_TypeTransaction.ConsultarTiposDeTransaccionServices"
        name="ConsultarTiposDeTransaccionServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/generarOTPService/generarOTP"
        binding="basicHttpBinding" bindingConfiguration="GenerarOTPServicesPortBinding"
        contract="MR_CodeOTP.GenerarOTPServices" name="GenerarOTPServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/ConsultarLenguajeService/ConsultarLenguaje"
        binding="basicHttpBinding" bindingConfiguration="ConsultarLenguajeServicesPortBinding"
        contract="MR_Language.ConsultarLenguajeServices" name="ConsultarLenguajeServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/consultarProductosClienteService/consultarProductosCliente"
        binding="basicHttpBinding" bindingConfiguration="ConsultarProductosClienteServicesPortBinding"
        contract="MR_ListProducts.ConsultarProductosClienteServices"
        name="ConsultarProductosClienteServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/procesarTransaccionService/procesarTransaccion"
        binding="basicHttpBinding" bindingConfiguration="ProcesarTransaccionServicesPortBinding"
        contract="MR_ReportTransaction.ProcesarTransaccionServices"
        name="ProcesarTransaccionServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/QRDecodeService/QRDecode"
        binding="basicHttpBinding" bindingConfiguration="QRDecodeServicesPortBinding"
        contract="MR_CodeQR.QRDecodeServices" name="QRDecodeServicesPort" />
      <endpoint address="http://181.57.139.181:10035/web/services/validarOTPService/validarOTP"
        binding="basicHttpBinding" bindingConfiguration="ValidarOTPServicesPortBinding"
        contract="MR_ValidateOTP.ValidarOTPServices" name="ValidarOTPServicesPort" />
    </client>
  </system.serviceModel>
</configuration>